---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import Badge from "@/components/Badge.astro"
import Briefcase from "@/components/icons/Briefcase.astro"
import CodeIcon from "@/components/icons/Code.astro"
import Experience from "@/components/Experience.astro"
import GitHubIcon from "@/components/icons/GitHub.astro"
import InstagramIcon from "@/components/icons/Instagram.astro"
import PdfIcon from "@/components/icons/PdfIcon.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<Layout
  title="Porfolio de Gustavo Zitto"
  description="Full-Stack Developer with 15 years of experience. Working with PHP and Javascript"
>
  <main class="px-4">
    <SectionContainer class="py-24 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/gz.webp"
        alt="gz photo"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hi, I'm Gustavo Zitto <a
          href="https://linkedin.com/in/zittogustavo"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>Open to work</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white">
        <p>I'm a Full-Stack Developer with +15 years of experience</p>
        <p class="text-yellow-800 dark:text-yellow-200">
          Main Tech Stack: PHP, Javascript, React, Ionic
        </p>
        <p class="text-red-800 dark:text-red-200">
          Now based in Barcelona, Spain</p>
        <p class="text-sky-800 dark:text-sky-200">Check my projects and contact for more information</p>
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/zittogustavo">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/zittogustavo">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="https://instagram.com/zitto.gustavo">
          <InstagramIcon class="size-4 md:size-6" />
          Instagram
        </SocialPill>
        <SocialPill href="mailto:zittogustavo@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          zittogustavo@gmail.com
        </SocialPill>
        <SocialPill href="./public/CV Gustavo Zitto_2024.pdf" download="CV_Gustavo_Zitto">
          <PdfIcon class="size-4 md:size-6" />
          CV
        </SocialPill>

      </nav>
    </SectionContainer>

    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        Work Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheck class="size-7" />
        About me
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
