---
 const personalImageAlt = "Gustavo Zitto picture"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      My name is Gustavo Zitto. I have started my code journey 15 years ago
      when I joined Accenture Argentina as a junior. I was 20 years old back then.
      Time have passed, but I still have the same passion about development and
      new technologies.
    </p>

    <p>
      My first 8 years in Accenture I have worked with .NET, and became <strong
        >Scrum Master, Team Lead, and Defect Lead</strong
      >. For the past 7 years I'm back on the code, developing mostly with PHP for the backend
      and Javascript for the frontend with any framework or library. 
    </p>

    <p>
      I have lived in Spain (Malaga & Barcelona) for 3 years. It was a great experince,
      but there is no place like home, that's why I have returned to my loved Argentina. 
    </p>

    <p>
      I'm always open for new opportunities and horizons, so don't hesitate to reach me
      if you think I can be a good fit for an open position, or for developing that great
      idea you have.
    </p>
  </div>

  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</article>
