---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Current...",
    title: "Senior Software Development Engineer",
    description:
      "• Migrate PHP 7.1 legacy code from monolith architecture to DDD hexagonal architecture (own framework based on Symphony) <br>
• Implement new features and fixes in PHP 8.1, using Doctrine as ORM
• Create, edit, fix React components using redux, hooks, context and sagas
• Use Mysql with PhpMyAdmin
• Code reviews of frontend and backend code
• Create API Rest endpoints
• Use docker, postman, slack, bitbucket, and jira daily",
    link: "https://twitch.tv/",
  },
  {
    date: "Septiembre 2022",
    title: "a",
    description:
      "a",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
