---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Current...",
    title: "Senior Software Development Engineer",
    description:
      "• Migrate PHP 7.1 legacy code from monolith architecture to DDD hexagonal architecture (own framework based on Symphony)* - efefw",
    company: "Webcargo by Freightos",
    link: "https://www.webcargo.co/",
  },
  {
    date: "Septiembre 2022",
    title: "a",
    description:
      "a*b",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
