---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "> 2 Years: Nov 2021– Actual",
    title: "Senior Software Development Engineer",
    description: 
      [
        "• Migrate PHP 7.1 legacy code from monolith architecture to DDD hexagonal architecture (own framework based on Symphony)",
        "• Implement new features and fixes in PHP 8.1, using Doctrine as ORM",
        "• Create, edit, fix React components using redux, hooks, context and sagas",
        "• Use Mysql with PhpMyAdmin",
        "• Code reviews of frontend and backend code",
        "• Create API Rest endpoints",
        "• Use docker, postman, slack, bitbucket, and jira daily",
        "• Tech-Stack : PHP, JS, Typescript, HTML, SCSS",
      ],
    company: "Webcargo by Freightos (Barcelona - Hybrid)",
    link: "https://www.webcargo.co/",
  },
  {
    date: "8 Months: April 2021– Nov 2021",
    company: "Easy Virtual Fair (Madrid - 100% Remote)",
    link: "https://web.easyvirtualfair.com/es/",
    title: "Full-Stack Software Developer",
    description:
      [
        "• Developed a new frontend platform in Angular from scratch. Unit test with Jasmine & Karma",
        "• Bug fixing of frontend platform in Backbone and Marionette JS",
        "• Solve bugs in JAVA and use PostgreSQL with pgAdmin",
        "• Use Trello, Gitflow, Mamp, WampServer",
        "• Tech-Stack : JS, Typescript, HTML, SCSS",
      ],
  },
  {
    date: "> 4 Years: March 2017 – April 2021",
    company: "Public Prosecutor's Ministry Buenos Aires City (Argentina - In Person)",
    link: "https://mpfciudad.gob.ar/",
    title: "Full-Stack Software Developer",
    description:
      [
        "• Developed and implemented software solutions using PHP with Laravel 5.6 framework. MVC architecture",
        "• Design, create, develop, mantain REST API (Laravel - Lumen)",
        "• Bug fixing in legacy code on core sites (PHP Cake framework)",
        "• Create and mantein iOS and Android mobile APPS in Ionic with Angular",
        "• Work in projects with Vue.JS and Neo4J Graph Database",
        "• Tech-Stack : PHP, JS, Typescript, HTML, SCSS",
      ],
  },
  {
    date: "> 8 Years: Jan 2009 – March 2017",
    company: "Accenture Argentina (Hybrid)",
    link: "https://www.accenture.com/ar-es/about/company/argentina",
    title: "Team Lead - Defect Lead - Scrum Master",
    description:
      [
        "• Defect Lead of a quarterly release with more than 450 bugs in a global team with more than 100 people",
        "• Scrum Master. Team Lead and part of the 'Release Cutover' Team",
        "• .Net Developer. ASP NET and VB.NET. MySql Server",
        "• Use waterfall and agile methodologies. Report to the leadership in english everyday.",
        "• Tech-Stack : .Net, JS, HTML, CSS, Jquery",
      ],
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
